@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMale.cshtml";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Product>
@*@model List<Product>*@

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
        <div class="product__item">
            <div style="cursor: pointer" onclick="gotoDetails('@item.Id')" class="product__item__pic set-bg"
                 data-setbg="@Url.Content("../malefashion/img/product/"+item.Options.ToList()[0].ImageUrl)">
                <span class="label">New</span>
                <ul class="product__hover">
                    <li><a href="#"><img src="../malefashion/img/icon/heart.png" alt=""></a></li>
                    <li><a href="#"><img src="../malefashion/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                    <li><a href="#"><img src="../malefashion/img/icon/search.png" alt=""></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6>@item.Name</h6>
                <a style="cursor: pointer" onclick="addToCart('@item.Id')" class="add-cart">+ Add To Cart</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <h5></h5>
                <div class="product__color__select">
                    <label for="pc-1">
                        <input type="radio" id="pc-1">
                    </label>
                    <label class="active black" for="pc-2">
                        <input type="radio" id="pc-2">
                    </label>
                    <label class="grey" for="pc-3">
                        <input type="radio" id="pc-3">
                    </label>
                </div>
            </div>
        </div>
    </div>

}
<div class="product__pagination">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}))
</div>



<script>
    function gotoDetails(id) {
        document.location.assign(`https://localhost:44342/Home/ChiTietSanPham?maSp=${id}`)
    }
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    function addToCart(id) {
        $.ajax({
            url: `https://localhost:44342/api/add-to-cart?id=${id}`,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', `Bearer ${getCookie("token")}`);
            },
            async: true,
            success: function (data) { 
                alert("successfully added to cart");
                console.log(data)
            }, 
            error: function(error){ 
                alert("add to cart failed"); 
                console.log("you might need login first");
            } 
        });
    }
</script>