@{
    ViewData["Title"] = "SearchProducts";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@model List<Option>
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div onclick="gotoDetails(@item.Id)" class="product__item__pic set-bg" data-setbg="@Url.Content("../malefashion/img/product/"+item.ImageUrl)">

                <ul class="product__hover">
                    <li><a href="#"><img src="../malefashion/img/icon/heart.png" alt=""></a></li>
                    <li>
                        <a href="#"><img src="../malefashion/img/icon/compare.png" alt=""> <span>Compare</span></a>
                    </li>
                    <li><a href="#"><img src="../malefashion/img/icon/search.png" alt=""></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6>@item.Product</h6>
                <a style="cursor: pointer" onclick="addToCart('@item.Id')" class="add-cart">+ Add To Cart</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <h5>@item.Price</h5>
                <div class="product__color__select">
                    <label for="pc-4">
                        <input type="radio" id="pc-4">
                    </label>
                    <label class="active black" for="pc-5">
                        <input type="radio" id="pc-5">
                    </label>
                    <label class="grey" for="pc-6">
                        <input type="radio" id="pc-6">
                    </label>
                </div>
            </div>
        </div>
    </div>

}


<script>
    function gotoDetails(id) {
        document.location.assign(`https://localhost:44342/Home/ChiTietSanPham?maSp=${id}`)
    }
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    function addToCart(id) {
        $.ajax({
            url: `https://localhost:44342/api/add-to-cart?id=${id}`,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', `Bearer ${getCookie("token")}`);
            },
            async: true,
            success: function (data) { 
                alert("successfully added to cart");
                console.log(data)
            }, 
            error: function(error){ 
                alert("add to cart failed"); 
                console.log("you might need login first");
            } 
        });
    }
</script>